{% extends 'base.html.twig' %}

{% block title %}Toutes les recettes{% endblock %}

{% block body %}
<ul>
    <li>
		<a href="{{ path('recipe.show', {slug: 'pates-bolognaise', id: 1}) }}">Pâtes bolognaise</a>
	</li>
</ul>
{% endblock %}
